.spinner{
    display: flex;
    justify-content: center;
    padding: 10%;
    
}

.spinning{
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
        
    }
    
}
